body
{
	font-family:"Arial";
}
	.nopadding{
	padding-left:0px;
	padding-right:0px;
}
.div1{
	background:url(img/Untitled-1.jpg);
	border:1px solid #000;
}
.img1{
	float:left;
	margin-top:20px;
}
.menu li{
	margin-top:10px;
	color:#CCC;
}
.head1
{
	color:#CCC;
}
.btn{
	border:0px;
	padding:10px 30px;
	background:#e84545;
	color:#fff;
}
.div2{
	margin-top:10px;
}
.div3{
	box-sizing:border-box;
}
.img2{
	box-sizing:border-box;
}
.div4
{
	box-sizing:border-box;
}
.div5
{
	background:#53354a;
	margin-top:10px;
}
.div6{
	background:#3a3e64;
	
}
.headpara{
	color:#CCC;
}
.img3{
	margin-left:10px;
	margin-top:10px;
}
.div7{
	background:#313454;
	
}
img{
	max-width:100%;
}
.div8{
	border-bottom:1px solid #CCC;
}